/* src/components/Navbar.css */

.navbar {
  position: fixed; /* Membuat navbar menempel di atas */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0;
}

.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

/* Gaya untuk tautan yang aktif */
.navbar a.active {
  background-color: #04aa6d; /* Warna hijau untuk menunjukkan aktif */
  font-weight: bold;
}

.navbar a:hover:not(.active) {
  background-color: #555;
}
